[submodule "linux"]
    path = linux
    url = https://github.com/raspberrypi/linux
    branch = rpi-5.10.y
    shallow = true
[submodule "linux-next"]
	path = linux-next
	url = https://github.com/ks0n/linux
